<h2>
  Veículos aguardando saída
</h2>


<% @vehicles.each do |vehicle| %>
  <p>
    <%= vehicle.model %> |
    <%= vehicle.plate %> =>
    <%= link_to 'Detalhes', vehicle %>
    <% binding.break %>
  </p>
<% end %>